@font-face {
    font-family: 'Raleway';
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap')
}
body {
    background-image: url("../images/BG_Home.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

h1 {
    font-family: 'Raleway';
    font-size: 3.5rem;
    text-align: center;
    color: white;
}

.home-intro{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    color: white;
}

table, td {
    text-align: center;
    vertical-align: center;
    font-family: 'Raleway';
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    width: 100px;
    height: 100px;
}

td a {
    color: white;
    text-decoration: none;
}

.images img {
    width: 1px;
    height: auto;
    opacity: 0;
    filter: drop-shadow(0px 10px 10px black)
}